# IDE/Editor Specific
.idea/                  # IntelliJ, GoLand, or other JetBrains IDEs
.vscode/                # Visual Studio Code
*.sublime*              # Sublime Text files

# System Specific
.DS_Store               # macOS Finder metadata
Thumbs.db               # Windows image file metadata
*.swp                   # Swap files

# Go Build Artifacts
bin/                    # Compiled binaries
*.exe                   # Windows executables
*.out                   # Output files
*.test                  # Test binaries
**/coverage.html        # Code coverage reports

# Logs, Temp Files, & Runtime Data
logs/                   # Application logs
*.log                   # Log files
*.tmp                   # Temporary files
*.bak                   # Backup files

# GitHub, CI/CD, and Debugging
*.coverage              # Code coverage files
*.prof                  # Profiling files
coverage.out            # Coverage output file
